html {
    background-color: black;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.tall {
    width: 100%;
    max-width: 600px;
}

.square {
    width: 100%;
    max-width: 900px;
}

pre {
    text-align: center;
    width: 100%;
    color: white;
    overflow: auto;
    font-size: 11px;
}

p {
    color: white;
    text-align: center;
    font-size: larger;
}

h1 {
    color: white;
    text-align: center;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 20px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: white;
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 20px;
    /* Increase font size */
}

#topBtn:hover {
    background-color: #555;
}

.prev {
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 0%;
    height: 15%;
    max-height: 110px;
}

.next {
    font-size: 40px;
    position: absolute;
    top: 40%;
    right: 0%;
    height: 15%;
    max-height: 110px;
}